# Import

In [1]:
import pandas as pd

In [9]:
train_data = pd.read_csv('train1.csv')
test_data = pd.read_csv('test1.csv')

In [10]:
train_data.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,52709,30.0,0,0,63.60,33.3,False,True,False,True,...,False,True,False,False,True,False,False,False,True,0
1,72295,75.0,1,0,215.17,48.0,True,False,False,False,...,False,False,True,False,True,False,False,True,False,0
2,26451,15.0,0,0,135.22,19.0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,0
3,65210,47.0,0,0,64.89,28.2,False,True,False,False,...,False,False,True,False,False,True,False,True,False,0
4,69299,49.0,0,0,222.34,28.8,False,True,False,False,...,False,False,True,False,True,False,True,False,False,0

### Uitleg van de datasetkolommen

De dataset bevat informatie over 33.550 patiënten met betrekking tot hun gezondheid en leefstijl. Hier volgt een uitleg van elke kolom:

1. **id**: Unieke identifier voor elke patiënt in de dataset.

2. **age**: De leeftijd van de patiënt.

3. **hypertension**: Indicator of de patiënt aan hypertensie (hoge bloeddruk) lijdt.
   - **0**: Geen hypertensie.
   - **1**: Wel hypertensie.

4. **heart_disease**: Indicator of de patiënt lijdt aan hartziekten.
   - **0**: Geen hartziekte.
   - **1**: Wel hartziekte.

5. **avg_glucose_level**: Het gemiddelde glucosegehalte in het bloed van de patiënt.

6. **bmi**: Body Mass Index (BMI) van de patiënt, een maat voor gezond gewicht gebaseerd op lengte en gewicht.

7. **gender_Female**: Dummy-variabele die aangeeft of de patiënt vrouw is.
   - **False**: Niet vrouw.
   - **True**: Vrouw.

8. **gender_Male**: Dummy-variabele die aangeeft of de patiënt man is.
   - **False**: Niet man.
   - **True**: Man.

9. **gender_Other**: Dummy-variabele die aangeeft of de patiënt zich identificeert als een andere genderidentiteit.
   - **False**: Niet anders.
   - **True**: Anders.

10. **ever_married_No**: Dummy-variabele die aangeeft of de patiënt nooit getrouwd is geweest.
    - **False**: Heeft wel ooit getrouwd geweest.
    - **True**: Heeft nooit getrouwd geweest.

11. **ever_married_Yes**: Dummy-variabele die aangeeft of de patiënt ooit getrouwd is geweest.
    - **False**: Heeft nooit getrouwd geweest.
    - **True**: Heeft wel ooit getrouwd geweest.

12. **work_type_Govt_job**: Dummy-variabele die aangeeft of de patiënt een overheidsbaan heeft.
    - **False**: Geen overheidsbaan.
    - **True**: Wel een overheidsbaan.

13. **work_type_Never_worked**: Dummy-variabele die aangeeft of de patiënt nooit heeft gewerkt.
    - **False**: Heeft wel ooit gewerkt.
    - **True**: Heeft nooit gewerkt.

14. **work_type_Private**: Dummy-variabele die aangeeft of de patiënt in de private sector werkt.
    - **False**: Werkt niet in de private sector.
    - **True**: Werkt in de private sector.

15. **work_type_Self-employed**: Dummy-variabele die aangeeft of de patiënt zelfstandig ondernemer is.
    - **False**: Niet zelfstandig ondernemer.
    - **True**: Wel zelfstandig ondernemer.

16. **work_type_children**: Dummy-variabele die aangeeft of de patiënt een kind is en dus niet werkt.
    - **False**: Niet een kind.
    - **True**: Wel een kind.

17. **Residence_type_Rural**: Dummy-variabele die aangeeft of de patiënt in een landelijk gebied woont.
    - **False**: Woont niet in een landelijk gebied.
    - **True**: Woont in een landelijk gebied.

18. **Residence_type_Urban**: Dummy-variabele die aangeeft of de patiënt in een stedelijk gebied woont.
    - **False**: Woont niet in een stedelijk gebied.
    - **True**: Woont in een stedelijk gebied.

19. **smoking_status_formerly smoked**: Dummy-variabele die aangeeft of de patiënt in het verleden gerookt heeft.
    - **False**: Heeft niet gerookt in het verleden.
    - **True**: Heeft wel gerookt in het verleden.

20. **smoking_status_never smoked**: Dummy-variabele die aangeeft of de patiënt nooit heeft gerookt.
    - **False**: Heeft wel gerookt.
    - **True**: Heeft nooit gerookt.

21. **smoking_status_smokes**: Dummy-variabele die aangeeft of de patiënt momenteel rookt.
    - **False**: Rookt niet.
    - **True**: Rookt wel.

22. **stroke**: De target-variabele die aangeeft of de patiënt een beroerte (hartinfarct) heeft gehad.
    - **0**: Geen beroerte.
    - **1**: Wel een beroerte.

# EDA

Numerieke waarden: Alle invoer moet numeriek zijn.

Geen ontbrekende waarden: Er mogen geen NaN of ontbrekende waarden in de dataset zijn.

En een Pandas Dataframe.

In [14]:
display(train_data.dtypes)

id                                  int64
age                               float64
hypertension                        int64
heart_disease                       int64
avg_glucose_level                 float64
bmi                               float64
gender_Female                        bool
gender_Male                          bool
gender_Other                         bool
ever_married_No                      bool
ever_married_Yes                     bool
work_type_Govt_job                   bool
work_type_Never_worked               bool
work_type_Private                    bool
work_type_Self-employed              bool
work_type_children                   bool
Residence_type_Rural                 bool
Residence_type_Urban                 bool
smoking_status_formerly smoked       bool
smoking_status_never smoked          bool
smoking_status_smokes                bool
stroke                              int64
dtype: object

### Uitleg van de Data-inspectie

In onderstaande lijst worden de datatypes van elke kolom in de dataset weergegeven. De datatypes zijn belangrijk om te begrijpen hoe de gegevens zijn opgeslagen en om te bepalen of er aanpassingen nodig zijn voor verdere analyse of machine learning. Hieronder volgt een uitleg van elk datatype en of er aanpassingen nodig zijn:

1. **`int64`**: Dit betekent dat de kolom geheel getallen (integers) bevat. 
   - Kolommen zoals `id`, `hypertension`, `heart_disease`, en `stroke` zijn als integers opgeslagen, wat logisch is aangezien deze kolommen discrete waarden vertegenwoordigen (zoals ja/nee of unieke identificatienummers).

2. **`float64`**: Dit betekent dat de kolom decimale getallen (floats) bevat.
   - Kolommen zoals `age`, `avg_glucose_level`, en `bmi` zijn als floats opgeslagen omdat deze waarden continue numerieke gegevens vertegenwoordigen die decimalen kunnen bevatten.

3. **`bool`**: Dit betekent dat de kolom booleaanse waarden (True/False) bevat.
   - Dit is van toepassing op kolommen zoals `gender_Female`, `gender_Male`, en andere die binaire gegevens bevatten (bijvoorbeeld of iemand vrouw/man is, of een bepaalde werkstatus heeft).

### Moeten we iets aanpassen?

- **Ja, alle kolommen moeten numeriek zijn**: 
  - Hoewel de dataset booleaanse waarden bevat, moeten deze worden omgezet naar binaire numerieke waarden (`0` en `1`). Dit zorgt ervoor dat de dataset compatibel is met alle machine learning-algoritmen in Scikit-Learn.

### Aanpassingen:
- **Converteer `bool` naar `int`**:
  - De kolommen die als `bool` zijn gemarkeerd (bijvoorbeeld `gender_Female`, `work_type_Govt_job`, etc.) moeten worden omgezet naar `int` waarbij `True` wordt omgezet naar `1` en `False` naar `0`.

Hierna is de dataset volledig numeriek en klaar voor gebruik in machine learning-modellen.

In [16]:
train_data = train_data.astype(int)

print(train_data.dtypes)
display(train_data)

id                                int32
age                               int32
hypertension                      int32
heart_disease                     int32
avg_glucose_level                 int32
bmi                               int32
gender_Female                     int32
gender_Male                       int32
gender_Other                      int32
ever_married_No                   int32
ever_married_Yes                  int32
work_type_Govt_job                int32
work_type_Never_worked            int32
work_type_Private                 int32
work_type_Self-employed           int32
work_type_children                int32
Residence_type_Rural              int32
Residence_type_Urban              int32
smoking_status_formerly smoked    int32
smoking_status_never smoked       int32
smoking_status_smokes             int32
stroke                            int32
dtype: object

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,52709,30,0,0,63,33,0,1,0,1,...,0,1,0,0,1,0,0,0,1,0
1,72295,75,1,0,215,48,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
2,26451,15,0,0,135,19,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
3,65210,47,0,0,64,28,0,1,0,0,...,0,0,1,0,0,1,0,1,0,0
4,69299,49,0,0,222,28,0,1,0,0,...,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33545,71911,9,0,0,109,14,0,1,0,1,...,0,0,0,1,1,0,0,0,0,0
33546,19648,47,0,0,88,30,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
33547,35550,3,0,0,89,16,1,0,0,1,...,0,0,0,1,1,0,0,0,0,0
33548,65453,56,1,0,82,27,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
33549,2084,64,0,0,90,30,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0

# missende waardes

In [19]:
missing_values = train_data.isnull().sum()
print(missing_values)

id                                0
age                               0
hypertension                      0
heart_disease                     0
avg_glucose_level                 0
bmi                               0
gender_Female                     0
gender_Male                       0
gender_Other                      0
ever_married_No                   0
ever_married_Yes                  0
work_type_Govt_job                0
work_type_Never_worked            0
work_type_Private                 0
work_type_Self-employed           0
work_type_children                0
Residence_type_Rural              0
Residence_type_Urban              0
smoking_status_formerly smoked    0
smoking_status_never smoked       0
smoking_status_smokes             0
stroke                            0
dtype: int64